$shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

@mixin transition-colors {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
